<nz-layout>
  <nz-page-header>
    <nz-page-header-title>School</nz-page-header-title>
    <nz-page-header-subtitle>Demo</nz-page-header-subtitle>
  </nz-page-header>

  <!-- <div>
    <pre>{{ allEnrollment | json }}</pre>
  </div> -->

  <nz-modal [(nzVisible)]="isVisible"
    (nzOnCancel)="handleCancel()" 
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="enrollForm" *ngIf="enrollForm" (ngSubmit)="onSubmit()">
              
        <div class="container custom-container">
          <div class="col-md-12">
            
            <!-- <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="student_id">Student Id</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="student_id" class="form-control">
              </nz-form-control>
            </nz-form-item> -->

            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="student_id">Student</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <select formControlName="student_id">
                  <option disabled>Select student</option>
                  <option [ngValue]="student.id" *ngFor="let student of students$ | async">{{student.firstName}} {{student.lastName}}</option>
                </select>
              </nz-form-control>
            </nz-form-item>

            <!-- <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="limit">Course Id</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="course_id" class="form-control">
              </nz-form-control>
            </nz-form-item> -->

            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="course_id">Course</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <select formControlName="course_id">
                  <option disabled>Select course</option>
                  <option [ngValue]="course.id" *ngFor="let course of courses$ | async">{{course.courseName}}</option>
                </select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="limit">Enroll Year</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="yearTaken" class="form-control">
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="limit">Score</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="score" class="form-control">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <button type="submit" nz-button nzType="primary"><i nz-icon nzType="send" nzTheme="outline"></i> Enroll </button>

      </form>
    </ng-container>
  </nz-modal>

  <nz-content>
    <div class="inner-content">
      <div nz-row>
        <div nz-col nzSpan="22" nzOffset="1">
          <button nz-button nzType="primary" nzShape="circle"
            (click)="showModal()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
          <br><br>

          <!-- <button nz-button (click)="addRow()" nzType="primary">Add</button> -->
          <nz-table #editRowTable
            nzBordered
            [nzData]="allEnrollment"
            [nzShowPagination]="false"
            [nzNoResult]="'No data yet'"
          >
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>NRIC</th>
                <th>Course Name</th>
                <th>Enrollment Year</th>
                <th>Score</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of allEnrollment" class="editable-row">
                <td>{{data.student.firstName}}</td>
                <td>{{data.student.lastName}}</td>
                <td>{{data.student.nric}}</td>
                <td>{{data.course.courseName}}</td>
                <td><input nz-input type="text" [(ngModel)]="data.yearTaken" /></td>
                <!-- <td>{{data.yearTaken}}</td> -->
                <td><input nz-input type="text" [(ngModel)]="data.score" /></td>
                <!-- <td>{{data.score}}</td> -->
                <td class="editable-row-operations" >
                  <button nz-button nzType="primary" nzShape="circle"
                    (click)=update(data)>
                    <i nz-icon nzType="edit" nzTheme="fill"></i> 
                  </button>
                  
                  &nbsp;&nbsp;&nbsp;
                  <button nz-button nzType="primary" nzShape="circle" nzDanger
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure you want to delete"
                    nzPopconfirmPlacement="top"
                    (nzOnConfirm)=delete(data)
                    (nzOnCancel)="cancel()">
                    <i nz-icon nzType="delete" nzTheme="fill"></i> 
                  </button>  
                  
                    
                </td>
              </tr>
            </tbody>
          </nz-table>
          
          <!-- <nz-table #basicTable [nzData]="allStudents">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Mobile</th>
                <th>NRIC</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of allStudents">
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.nric}}</td>
                <td>{{data.gender}}</td>
                <td>
                  <a>Delete</a>
                </td>
              </tr>
            </tbody>
          </nz-table> -->
          
          <!-- <nz-table #basicTable [nzData]="allCourses">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of allCourses">
                <td>{{data.courseName}}</td>
                <td>
                  <a>Action 一 {{data.courseName}}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td>
              </tr>
            </tbody>
          </nz-table> -->
        </div>
      </div>
    </div>
  </nz-content>

  <nz-footer>©2022 AJ</nz-footer>
</nz-layout>

